{% extends "store/base.html" %}

{% block title %}
<title>
    Books List | Library
</title>
{% endblock %}

{% block content %}

<h3>Books list</h3>
<form method="GET">
<div class="row">
    <div class="col-sm-3">
        Title: <input type="text" name="title" id="title">
    </div>
    <div class="col-sm-3">
        Author: <input type="text" name="author" id="author">
    </div>
    <div class="col-sm-3">
        Genre: <input type="text" name="genre" id="genre">
    </div>
</div>
<div class="row">
    <button type = "submit" id="search_button" class="btn btn-primary">Search</button>
</div>
</form>
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Rating</th>
        <th scope="col">MRP</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="/book/{{book.id}}">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.rating}}</td>
        <td>{{book.mrp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}